/*
 Theme Name:   ex-per-t-child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     ex-per-t
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
@font-face {
	font-family: 'Conv_Berthold Akzidenz Grotesk Bold';
	src: url('fonts/Berthold Akzidenz Grotesk Bold.eot');
	src: local('☺'), url('fonts/Berthold Akzidenz Grotesk Bold.woff') format('woff'), url('fonts/Berthold Akzidenz Grotesk Bold.ttf') format('truetype'), url('fonts/Berthold Akzidenz Grotesk Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body
{
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, li, ol
{
	margin: 0;
	padding: 0;
}
ul, li, ol
{
	list-style: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 1;
}
header#masthead {
    background: url(images/header-bg.jpg) repeat;
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9;
    display: inline-block;
    padding: 16px 0;
    float: left;
}
.custom-logo {
	float: left;
}

.wpb_column.vc_column_container, .container {
    width: 1180px;
    margin: 0 auto;
    float: none;
}
.custom-header {
    width: auto;
    float: left;
}
.social-part-outer {
    width: auto;
    float: right;
}
ul.social-icons li {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px #fff solid;
    text-align: center;
    font-size: 17px;
    margin: 0 0 0 6px;
}
ul.social-icons li a
{
	display: block;
	color:#ffffff;
}
.banner-part-section {
	padding-top: 125px;
	padding-bottom: 175px;
}
.search-city-form.wpb_content_element {
    text-align: center;
    padding: 28px 0 0;
    margin: 0 0 10px;
}
.search-city-form form {
    width: auto;
    display: inline-block;
    box-shadow: 0 2px 0px rgba(0,0,0,0.2);
}
.search-city-form input[type="Search"] {
	width: 450px;
	float: left;
	background-color: #fff;
	height: 70px;
	border: none;
	padding: 0 22px;
	color: #636363;
	font-size: 16px;
	font-style: italic;
	font-weight: 300;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.search-city-form input[type="submit"]
{
	width: 80px;
	height: 70px;
	background: #00d191 url(images/search-icon.png) center no-repeat;
	border:none;
	text-indent: 80px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	    cursor: pointer;
}
.homer-banner-subtext {
	margin: 0;
	text-align: center;
}
.the-world-section {
    padding: 45px 0 40px;
}
.homer-banner-subtext p
{
	color: #ffffff;
	font-size: 20px;
	font-family: 'Conv_Berthold Akzidenz Grotesk Bold';
	font-weight: normal;
}
.the-world-subtext {
	margin-bottom: 30px;
	margin-top: 10px;
}
.vc_separator.the-world-subtext h4 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 0 30px!important;
}
.pop-back 
{
	width: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	background: #000000c4;
	z-index: 9999999999;
	padding: 0 0 150px;
}
.pop-up 
{
	position:relative;
    width: 400px;
	margin:30px auto 0;
    height: auto;
    top: 0;
    z-index: 99999;
    text-align: center;
    left: 0;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
}
.close p{display: table-cell;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    cursor: pointer;}
.close {
    position: absolute;
    right: 5px;
    top: 5px;
   
    background: #00d191;
    color: #fff;
    text-align: center;
    display: table;
    border-radius: 50%;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #FF5733;
	color:#fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(1n+2) {
    background-color: #D4FF33;
	color:#151515;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(2n+1) {
    background-color: #f00000;
	color:#ffffff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice:nth-child(3n+3) {
    background-color: #7256FF;
	color:#ffffff;
}
.navigation-top {
    float: right;
    width: auto;
}
.main-navigation li {
    display: inline-block;
    margin: 0 0 0 26px;
}
.main-navigation li a
{
	color:#ffffff;
	text-decoration:none;
}
.main-navigation li a:hover
{
    color:#00d191;
}
ul.social-icons li:hover {
    border-color:#00d191;
}
ul.social-icons li a:hover {
    color: #00d191;
}
#primary {
	float: left;
	width: 100%;
}
.home #primary {
	float: left;
	width: 100%;
	margin-top: 0;
}
.customtbl{
	border: 1px solid #ccc;
    background: #f4f4f4;
    margin: auto;
    padding: 20px;
}
.customtbl tr {
    box-shadow: 0px 1px 0px #cfcfcf;
}
.customtbl tr th, .customtbl tr td {
    padding: 15px;
    border-right: 0px solid #ddd;
}
.customtbl tr th {
    background: #00d191;
    color: #fff;
}
.navigation-top {
    float: right;
    width: auto;
    margin: 6px 22px 0 0;
}
header.entry-header.inner-pages {
    /* height: 250px; */
    background: url(images/banner-home-main.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 110px 0;
    margin-bottom: 50px;
}
header.entry-header.inner-pages h1
{
    color: #fff;
    text-transform: uppercase;
    font-size: 47.29px;
    font-family: Roboto;
    font-weight: 700;
}
.profile_main_outer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: #efefef;
    padding: 13px 18px;
}
.profile_image {
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 30px 0 0;
}
.profile_image img {
    width: 100%;
}
.profile_content {
    float: left;
    padding: 25px 0;
    width: 79%;
}
.profile_colums {
    float: left;
    width: auto;
    margin: 0px 48px 0 0;
}
.profile_colums span
{
    font-weight: 700;
}
.profile_colums_full {
    width: 100%;
    float: left;
    margin: 0 0 16px 0;
}
.profile_main_container
{
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 5px;
}
.profile_main_outer {
    width: 700px;
    display: inline-block;
    text-align: left;
    margin-bottom: 8px;
}
.profile_colums_full:last-child {
    margin: 0;
}
.page-id-61 .um-left.um-half, .page-id-63 .um-left.um-half {
    width: 100%;
}
.page-id-61 .um-right.um-half, .page-id-63 .um-right.um-half {
    display: none;
}
.non-approved {
	color:red;
	display:none;
}
.pfapproved {
	color:green;
	display:none;
}
.txtSearch
{
	width: 700px;
height: 36px;
}
.btnSearch
{	
    height: 43px;
    width: 100px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
.wpb_column.vc_column_container, .container 
	{
		width: 93%;
		margin: 0 auto;
		float: none;
	}
	
	.search-city-form input[type="Search"] 
	{
		width: 100%;height:48px;
	}
	.home-banner-head
	{
		font-size: 28.29px!important;line-height: 36px!important;font-weight:500!important;margin-top: -100px;
	}
	.search-city-form input[type="submit"]
	{
		width: 60px;
		height: 50px;
		margin-top: 15px;
	}
	.search-city-form form {
		box-shadow: none;
	}
	.txtSearch {
		width: 326px;
		height: 36px;
	}
	.inner-pages
	{
		padding: 26px 0 !important;
		margin-bottom: 20px !important;
	}
	.profile_main_outer {
		width: 92% !important;				
		margin-bottom: 5px !important;
	}
	.profile_content {		
		padding: 3px 0 !important;
		width: 100% !important;
	}
	.inner-pages h1
	{
		font-size: 25.29px !important;
	}
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
.wpb_column.vc_column_container, .container 
	{
		width: 93%;
		margin: 0 auto;
		float: none;
	}
	
	.search-city-form input[type="Search"] 
	{
		width: 100%;height:48px;
	}
	.home-banner-head
	{
		font-size: 28.29px!important;line-height: 36px!important;font-weight:500!important;margin-top: -100px;
	}
	.search-city-form input[type="submit"]
	{
		width: 60px;
		height: 50px;
		margin-top: 15px;
	}
	.search-city-form form {
		box-shadow: none;
	}
	.txtSearch {
		width: 326px;
		height: 36px;
	}
	.inner-pages
	{
		padding: 26px 0 !important;
		margin-bottom: 20px !important;
	}
	.profile_main_outer {
		width: 92% !important;				
		margin-bottom: 5px !important;
	}
	.profile_content {		
		padding: 3px 0 !important;
		width: 100% !important;
	}
	.inner-pages h1
	{
		font-size: 25.29px !important;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-width: 320px) and (max-width: 568px){
	.custom-logo {
		float: left;
		width: 161px;
		height: auto;
	}
.wpb_column.vc_column_container, .container 
	{
		width: 93%;
		margin: 0 auto;
		float: none;
	}
	
	.search-city-form input[type="Search"] 
	{
		width: 100%;height:48px;
	}
	.home-banner-head
	{
		font-size: 28.29px!important;line-height: 36px!important;font-weight:500!important;margin-top: -100px;
	}
	.search-city-form input[type="submit"]
	{
		width: 60px;
		height: 50px;
		margin-top: 15px;
	}
	.search-city-form form {
		box-shadow: none;
	}
	.txtSearch {
		width: 326px;
		height: 36px;
	}
	.inner-pages
	{
		padding: 26px 0 !important;
		margin-bottom: 20px !important;
	}
	.profile_main_outer {
		width: 92% !important;				
		margin-bottom: 5px !important;
	}
	.profile_content {		
		padding: 3px 0 !important;
		width: 100% !important;
	}
	.inner-pages h1
	{
		font-size: 25.29px !important;
	}
}

@media only screen and (min-width: 320px) and (max-width: 568px){
.wpb_column.vc_column_container, .container 
	{
		width: 93%;
		margin: 0 auto;
		float: none;
	}
	
	.search-city-form input[type="Search"] 
	{
		width: 100%;height:48px;
	}
	.home-banner-head
	{
		font-size: 28.29px!important;line-height: 36px!important;font-weight:500!important;margin-top: -100px;
	}
	.search-city-form input[type="submit"]
	{
		width: 60px;
		height: 50px;
		margin-top: 15px;
	}
	.search-city-form form {
		box-shadow: none;
	}
	.txtSearch {
		width: 326px;
		height: 36px;
	}
	.inner-pages
	{
		padding: 26px 0 !important;
		margin-bottom: 20px !important;
	}
	.profile_main_outer {
		width: 92% !important;				
		margin-bottom: 5px !important;
	}
	.profile_content {		
		padding: 3px 0 !important;
		width: 100% !important;
	}
	.inner-pages h1
	{
		font-size: 25.29px !important;
	}
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-width: 375px) and (max-width: 667px){
.wpb_column.vc_column_container, .container 
	{
		width: 93%;
		margin: 0 auto;
		float: none;
	}
	
	.search-city-form input[type="Search"] 
	{
		width: 100%;height:48px;
	}
	.home-banner-head
	{
		font-size: 28.29px!important;line-height: 36px!important;font-weight:500!important;margin-top: -100px;
	}
	.search-city-form input[type="submit"]
	{
		width: 60px;
		height: 50px;
		margin-top: -1px;
	}
	.search-city-form form {
		box-shadow: none;
	}
	.txtSearch {
		width: 326px;
		height: 36px;
	}
	.inner-pages
	{
		padding: 26px 0 !important;
		margin-bottom: 20px !important;
	}
	.profile_main_outer {
		width: 92% !important;				
		margin-bottom: 5px !important;
	}
	.profile_content {		
		padding: 3px 0 !important;
		width: 100% !important;
	}
	.inner-pages h1
	{
		font-size: 25.29px !important;
	}
}

/* iPhone 6+ ----------- */
@media only screen and (min-width: 414px) and (max-width: 736px){
.wpb_column.vc_column_container, .container 
	{
		width: 93%;
		margin: 0 auto;
		float: none;
	}
	
	.search-city-form input[type="Search"] 
	{
		width: 100%;height:48px;
	}
	.home-banner-head
	{
		font-size: 28.29px!important;line-height: 36px!important;font-weight:500!important;margin-top: -100px;
	}
	.search-city-form input[type="submit"]
	{
		width: 60px;
		height: 50px;
		margin-top: -1px;
	}
	.search-city-form form {
		box-shadow: none;
	}
	.txtSearch {
		width: 326px;
		height: 36px;
	}
	.inner-pages
	{
		padding: 26px 0 !important;
		margin-bottom: 20px !important;
	}
	.profile_main_outer {
		width: 92% !important;				
		margin-bottom: 5px !important;
	}
	.profile_content {		
		padding: 3px 0 !important;
		width: 100% !important;
	}
	.inner-pages h1
	{
		font-size: 25.29px !important;
	}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */

@media only screen and (min-width: 360px) and (max-width: 640px) 
{
	.wpb_column.vc_column_container, .container 
	{
		width: 93%;
		margin: 0 auto;
		float: none;
	}
	
	.search-city-form input[type="Search"] 
	{
		width: 100%;height:48px;
	}
	.home-banner-head
	{
		font-size: 28.29px!important;line-height: 36px!important;font-weight:500!important;margin-top: -100px;
	}
	.search-city-form input[type="submit"]
	{
		width: 60px;
		height: 50px;
		margin-top: 15px;
	}
	.search-city-form form {
		box-shadow: none;
	}
	.txtSearch {
		width: 326px;
		height: 36px;
	}
	.inner-pages
	{
		padding: 26px 0 !important;
		margin-bottom: 20px !important;
	}
	.profile_main_outer {
		width: 92% !important;				
		margin-bottom: 5px !important;
	}
	.profile_content {		
		padding: 3px 0 !important;
		width: 100% !important;
	}
	.inner-pages h1
	{
		font-size: 25.29px !important;
	}
	
}

